<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AquaWPF_4_prak_.Properties.Settings.AquaConnectionString"
            connectionString="Data Source=DESKTOP-34LLBBA\SQLEXPRESS;Initial Catalog=Aqua;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>